<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a class</title>
</head>
<body>
    <form action="/auth/create" method="POST">
        <input type="text" name="title" placeholder="Class Title" required>
        <textarea name="description" placeholder="Class Description" required></textarea>
        <input type="url" name="jitsiLink" placeholder="Jitsi Link" required>
        <input type="datetime-local" name="scheduledTime" required>
        <button type="submit">Create Class</button>
      </form>
      
</body>
</html>